/* Polices (centralisées via CSS compilé) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@400;600;700&display=swap');

@import "tailwindcss";

/* Tes styles custom (optionnel) */
@import "../Style.css";
